body{
	margin:0;
	background:linear-gradient(#1d3866,#69768c) ;background-repeat:no-repeat;
	height:690px;
}
.line1, .line2 ,.line3{
	background:#faf8f2;
	width: 30px;
	height:4px;
	margin:4px 5px;
}
/* Rotate first bar */
.open.line1{
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
.open.line2{
  opacity:0;	
}
.menuwrapper{
	background:rgba(0,0,0,0.5);
	height:500px;
	width:700px;
	margin-left:200px;
	border-radius:10px;
	padding:10px;
	display:flex;
	flex-direction:row;
	margin-top:-15px;
}
.fa-github{
	font-size:100px;
	margin:300px -570px;
}
.fa-facebook-square{
	font-size:100px;
	margin:300px -920px;
}
.fa-home{
	font-size:100px;
	margin:0px;
}
.fa-search{
	font-size:100px;
	margin:0px 250px;
}
a{
	text-decoration: none;
}
h1{
	font-family: sans-serif;
	color:whitesmoke;
	font-size:50px;
	margin-top:40px;
	padding:200px;
}
p{
	color:#bdcdd9;
	margin-top:-200px;
	margin-left:200px;
	font-size:30px;
}